[flake8]
# Ignore "Line too long" and "Unused imports" for now to get the build green
ignore = E501, F401
# Set a more modern line length limit
max-line-length = 120
# Exclude folders that don't need linting
exclude = .git,__pycache__,docs,old,build,dist,venv
